<div class="content">
    <div class="content-top">
        <h1 class="content-title"><span>Smart</span> Agency Landign Page</h1>
        <div class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates doloremque rerum aspernatur dolorum at!</div>
    </div>
    <div class="form">
        <h2 class="form-title"><span>Send</span> A Message</h2>
        <form action="">
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
            <textarea type="text" placeholder="Your Message"></textarea>
            <button class="form-btn">Send Message</button>
        </form>
    </div>
</div>