{# Импортируем макрос для вставки иконок для дальнейшего использования #}
{% import "../../macros/svg-icon.twig" as svgIcon %}

<div class="content">
    <h2>Содержание второй страницы</h2>

    
    <p>
        {{ svgIcon.item("icon-important") }} {# Вставляем иконку, указываем название иконки #}
        Файл <b>components/content/content_page1.html.twig</b> импортровали в <b>pages/page1.twig</b>
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sequi officia odio excepturi nesciunt rerum sapiente, vero, quidem et, quibusdam dolor impedit harum cumque! Modi repudiandae non assumenda eum, veritatis magni architecto accusantium distinctio nisi, fugiat neque delectus, a quas incidunt libero vitae cupiditate perspiciatis qui dolores. Accusantium minus iure, possimus quis maiores nemo enim repellat quam error reiciendis nisi? Facere ipsam consectetur dicta enim nesciunt perferendis voluptates perspiciatis velit temporibus quaerat doloremque, molestiae beatae ratione. Quos tempore consequatur porro molestias, dignissimos molestiae nemo, blanditiis quisquam neque error tempora vitae. Nesciunt, magnam quae id iure obcaecati quos praesentium nam. Aliquam.</p>
    
</div>