<footer class="footer">
    <h2 class="footer-title">Общий footer</h2>
    <p class="footer-text"> Файл <b>components/footer.twig</b> импортровали в общий каркас сайта <b>layouts/base.twig</b></p>
</footer>