// Здесь пишем все переменные и миксины(функции) для быстрого применения CSS правил
// импортируем его всегда выше других, чтобы все scss файлы видили эти переменные

// Переменные(обычно это часто используемые цвета на сайте, размеры отступов

$red: rgb(182, 16, 16);
$blue: blue;
$header-padding: 30px;
$footer-margin: 45px;



//Миксины

// Обводит элемент рамками принимает цвет и толщину лини 

@mixin t($fz, $clr) {  
    font-family: 'Open Sans', sans-serif; 
    color: $clr;
    font-size: $fz;
}
// Применение: @include bdr(red, 5px);


// Делает текст цветным и задает шрифт
@mixin text($clr, $fz: 30px) {   //Указываем по умолчанию размер шрифта 30px
    color: $clr;
    font-size: $fz;
}
// Применение: @include text(blue);
// Применение: @include text(blue, 15px);