<nav class="nav">
    <h2 class="nav-title">Общий nav(меню)</h2>
    <p class="nav-text">Файл <b>components/nav.twig</b> импортровали в общий каркас сайта <b>layouts/base.twig</b></p>
    <ul class="nav-menu">
        <li class="nav-menu_item"><a href="./index.html">Главная</a></li>
        <li class="nav-menu_item"><a href="./page1.html">Страница 1</a></li>
        <li class="nav-menu_item"><a href="./index.html">Главная</a></li>
        <li class="nav-menu_item"><a href="./page1.html">Страница 1</a></li>
    </ul>
</nav>